<launch>

    <!-- 启动节点 -->
    <node name="data_tb" pkg="data_tb" type="data_tb" output="screen" />

    <!-- launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="false"
        args="-d $(find data_tb)/launch/data_tb.rviz" />

    <!-- 记录点云信息 -->
    <node pkg="rosbag" type="record" name="bag_record" args="/pointcloud  -O /home/yue/Data_tb/bagfiles/pointcloud_data.bag"/> 


</launch>
